*{
    margin: 0;
    padding: 0;
    text-align: center;
    
}
.container{
    width: 100vw;
    height: 100vh;
    background: rgb(30,144,255);
    background: linear-gradient(159deg, rgba(30,144,255,1) 0%, rgba(153,186,221,1) 100%);
}
h1{
    background: rgb(0,51,102);
    background: linear-gradient(159deg, rgba(0,51,102,1) 0%, rgba(15,82,186,1) 100%);
    color: rgb(255, 255, 255);
    font-size: 3rem;
    height: 5rem;
    line-height: 5rem;
    border: 2px solid black;

} 

.choices{
    display: flex  ;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 10rem;
}

.choice{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
}

img{
    height: 240px;
    width: 240px;
    border-radius: 50%;
    object-fit: cover;

}

.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 10rem;
    gap: 5rem;
}

#user-score , #comp-score {
    font-size: 5rem;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 3rem;
    display: inline;
    padding: 1rem;
    border-radius:1rem;

}
.msg-box{
    margin-top: 8rem;
}